<footer class="bg-violet-200 px-2 py-1">
  <div class="flex">
    <%= link_to "利用規約", "#", class: "basis-1/3 text-left ps-8 hover:font-medium" %>
    <%= link_to "プライバシーポリシー", "#", class: "basis-1/3 text-center hover:font-medium" %>
    <%= link_to "お問い合わせ", "#", class: "basis-1/3 text-right pe-8 hover:font-medium" %>
  </div>
  <p class="text-center py-2">Copyright 2025 FridgeBell</P>
</footer>