<header>
  <div class="inset-x-0 top-0 bg-violet-200 px-4 py-4">
    <div class="flex justify-between items-center text-black">
      <div class="px-1">
        <%= link_to '/', class:"group" do %>
          <h1 class="text-3xl font-exo2 group-hover:font-bold">FridgeBell</h1>
        <% end %>
      </div>
      <div class="flex space-x-4">
        <%= link_to "ログイン", "#", class:"hover:font-medium" %>
      </div>
    </div>
  </div>
</header>
