<main class="flex flex-grow flex-col items-center justify-center px-6 text-center md:py-24">
  <div class="max-w-4xl">
    <div class="text-center">
      <h2 class="text-4xl font-exo2 bg-gradient-to-r from-orange-500 to-pink-500 bg-clip-text text-transparent leading-tight md:text-7xl lg:text-8xl"><%= t('.title') %></h2>
      <p class="text-lg text-gray-700 md:text-xl lg:text-2xl max-w-2xl mx-auto leading-relaxed"><%= t('.description') %><p>
      <div class="flex flex-col gap-4 sm:flex-row sm:justify-center sm:gap-6 pt-8">
        <%= link_to t('.how_to_use'), "#", class: "bg-green-400 hover:bg-green-500 text-white font-semibold px-8 py-3 text-lg rounded-full shadow-lg hover:shadow-xl transition-all duration-200" %>
        <%= link_to t('.create_user'), new_user_registration_path, class: "bg-orange-400 hover:bg-orange-500 text-white font-semibold px-8 py-3 text-lg rounded-full shadow-lg hover:shadow-xl transition-all duration-200" %>
      </div>
    </div>
  </div>
</main>
