<div class="min-h-screen bg-violet-200">
  <div class="container mx-auto">
    <div class="text-center pt-5">
      <h2 class="text-4xl font-exo2 text-black-500 font-bold mb-5">FridgeBell</h2>
      <p class="my-4">簡単なアプリ説明<p>
      <div class="mt-8 flex flex-col items-center space-y-4">
        <%= link_to "使い方", "#", class: "inline-block py-2 px-4 bg-violet-500 rounded-md text-white hover:bg-violet-700" %>
        <%= link_to "まずは新規登録", "#", class: "inline-block py-2 px-4 bg-white rounded-md hover:font-medium" %>
      </div>
    </div>
  </div>
</div>
